.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  background: rgba(63, 59, 59, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 350px;
  background: white;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.iconWrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.iconWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cancelBtn {
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background: #dfdfdf;
  color: #666;
  cursor: pointer;
}

.deleteBtn {
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  background: #f43f5e;
  color: #fff;
  cursor: pointer;
}
