.headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  margin-top: 50px;
}

.title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}

.titleIcon {
  font-size: 20px;
  color: #555;
}

.addBtn {
  background: #55a3f0;
  color: #fff;
  padding: 8px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 132px;
  height: 45px;
  transition: all 0.25s ease;
}

.addBtn:hover {
  background: #3d90e3;
  transform: translateY(-3px);
  box-shadow: 0px 6px 15px rgba(0, 120, 220, 0.25);
}
