.header {
  width: 100%;
  height: 80px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}


.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
 
  padding: 10px 15px;
  border-radius: 12px;
  width: 280px;
}

.searchBox input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}


.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}


.divider {
  width: 1px;
  height: 35px;
  background: #ddd;
}


.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.1;
}

.name {
  font-size: 16px;
  font-weight: 600;
   margin-top: 5px;
}

.role {
  font-size: 13px;
  color: #777;
   margin-top: -9px;
}
