* {
  font-family: "Yekan";
}
.searchBox {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f2f2f2;
  padding: 10px 15px;
  border-radius: 12px;
  width: 260px;
}

.searchBox input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}
