* {
  box-sizing: border-box;
  font-family: "Yekan";
}
@font-face {
  font-family: "Yekan";
  src: url("../Yekan-Font-master/Yekan.eot"); /* IE9 Compat Modes */
  src: url("../Yekan-Font-master/Yekan.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Yekan-Font-master/Yekan.woff2") format("woff2"),
    /* Modern Browsers */ url("../Yekan-Font-master/Yekan.woff") format("woff"),
    /* Modern Browsers */ url("../Yekan-Font-master/Yekan.otf")
      format("opentype"),
    /* Open Type Font */ url("../Yekan-Font-master/Yekan.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
body {
  text-align: center;
  justify-content: center;
  overflow-y: hidden;
  background-color: #f7f8f8;
  direction: rtl;
}
.h2 {
  font-size: 19px;
  font-weight: 400;
  font-style: bold;
  line-height: 100%;
  margin-top: 35px;
}
.container {
  margin: auto;
  width: 470px;
  height: 465px;
  margin-top: 100px;
  background-color: #ffffff;
  box-shadow: #e4e4e4;
  border-radius: 30px;
}
.container img {
  width: 80px;
  height: 85px;
  margin-top: 25px;
}
.actives {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 15px;
}
.input {
  height: 42px;
  width: 95%;
  margin-right: 15px;
  padding: 0 15px;
  border-radius: 12px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  font-size: 16px;
  transition: all 0.2s ease;
}

.actives button {
  height: 42px;
  width: 95%;
  margin-right: 15px;
  padding-right: 20px;
  border-radius: 15px;
  background-color: #55a3f0;
  border: none;
  color: #ffffff;
  font-size: 19px;
  cursor: pointer;
  transition: 0.5s;
}
.span {
  display: block;
  text-align: right;
  font-size: 16px;
  color: #3a8bed;
  cursor: pointer;
  margin-right: 22px;
  margin-top: 17px;
  text-decoration: none;
}
.span:hover {
  color: #1b2e2e;
}
.actives button:hover {
  background-color: #32e30f;
  color: #ffffff;
  z-index: 1;
}
.error {
  text-align: right;
  color: #ff4d4f;
  margin: -10px 20px 5px 0;
  font-size: 13px;
}

.inputError {
  border-color: #ff4d4f !important;
  background-color: #ffe8e8;
}

.input:focus {
  border-color: #55a3f0;
  background-color: #fff;
  box-shadow: 0 0 5px #55a3f033;
}
